<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Calendario Prenotazioni</title>
    <!-- FullCalendar CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css">

    <!-- Stili personalizzati -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_admin.css') }}">

    <!-- FullCalendar JS -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales/it.js"></script>

    <!-- Script personalizzato -->
    <script defer src="{{ url_for('static', filename='script_admin.js') }}"></script>
</head>
<body>
    <h1>Prenotazioni</h1>
    <div id="calendar"></div>

    <!-- Modale per mostrare i dettagli -->
    <div id="detailModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div class="modal-body" id="detailContent">
                <!-- I dettagli verranno caricati qui -->
            </div>
            <button id="deleteButton" class="btn btn-danger" style="margin-top: 20px;" onclick="eliminaPrenotazione()">Elimina Prenotazione</button>
        </div>
    </div>
</body>
</html>
