<!DOCTYPE html>
<html lang="it">
<head>
    {% block head %}{% endblock %}  <!-- Inserisci il contenuto dell'head qui -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_base.css') }}"> <!-- Aggiungi il CSS di base -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    <header>
        <div class="header-strip">
            <div class="header-container">
                <!-- Logo a sinistra -->
                <div class="header-logo">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
                </div>
                <div class="header-title">
                    <h1>HairStyle</h1>
                </div>
                <!-- Navigazione a destra -->
                <nav class="header-nav">
                    <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        {% if not (current_user.is_authenticated and (current_user.role == 'parrucchiere' or current_user.role == 'operatore')) %}
                        <li><a href="#">Chi Siamo</a></li>
                        <li><a href="#">Contatti</a></li>
                        {% endif %}
                        {% if current_user.is_authenticated and (current_user.role == 'parrucchiere' or current_user.role == 'operatore') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin_prenotazioni') }}">Prenotazioni</a>
                        </li>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Logout ({{ current_user.name }})</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- Sezione contenuti variabili -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Parrucchiere Elegante | Tutti i diritti riservati</p>
    </footer>

</body>
</html>
