{% extends 'base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Parrucchiere Elegante</title>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
    <!-- FullCalendar JS -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales/it.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_home.css') }}">
    <script defer src="{{ url_for('static', filename='script_home.js') }}"></script>
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content %}
    <!-- Sezione messaggi -->
    <section class="messages-section" style="display: none;">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="messages" id="message-container">
                    {% for category, message in messages %}
                        <p class="{{ category }}" data-category="{{ category }}">{{ message|safe }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </section>

    <!-- Contenuto comune a tutti gli utenti -->
    <div class="content">
        {% if current_user.is_authenticated and (current_user.role == 'parrucchiere' or current_user.role == 'operatore') %}
            <h1>Gestione Prenotazioni</h1>
            <p>Accedi alla gestione delle prenotazioni per il salone.</p>
            <a href="{{ url_for('admin_prenotazioni') }}" class="btn">Gestione Prenotazioni</a>
        {% else %}
            <h1>Benvenuto da HairStyle</h1>
            <p>Tagli e colori su misura per te</p>
            <a href="#" class="btn" id="prenota-ora-btn">Prenota Ora</a>
        {% endif %}
    </div>

    <!-- Sezione Servizi -->
    <section class="servizi">
        <h2>I nostri Servizi</h2>
        <div class="servizio">
            <h3>Taglio Uomo</h3>
            <p>Taglio personalizzato per uomo, dallo stile classico al moderno.</p>
        </div>
        <div class="servizio">
            <h3>Taglio Donna</h3>
            <p>Taglio alla moda, per un look unico e alla tendenza.</p>
        </div>
        <div class="servizio">
            <h3>Colorazione</h3>
            <p>Colori brillanti e lucenti per un look fresco e vibrante.</p>
        </div>
    </section>

{% endblock %}