<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parrucchiere Elegante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_home.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <style>
        header {
            background-image: url("{{ url_for('static', filename='salone.jpg') }}");
            background-size: cover;
            background-position: center;
            color: white;
            padding: 120px 20px;
            text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>

    <header>
        <h1>Benvenuto da HairStyle</h1>
        <p>Tagli e colori su misura per te</p>
        <a href="{{ url_for('prenotazioni') }}" class="btn">Prenota Ora</a>
    </header>

</body>
</html>
