{% extends 'base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione - Parrucchiere Elegante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_auth.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="{{ url_for('static', filename='script_auth.js') }}"></script>
{% endblock %}

{% block content %}
<div class="auth-container">
    <h1>Registrati</h1>

    <section class="messages-section" style="display: none;">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="messages" id="message-container">
                    {% for category, message in messages %}
                        <p class="{{ category }}" data-category="{{ category }}">{{ message|safe }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </section>

    <!-- Form di registrazione -->
    <form method="POST" class="auth-form">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Inserisci il tuo nome" required>
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Inserisci la tua email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Inserisci la tua password" required>
        <button type="submit" class="btn">Registrati</button>
    </form>

    <!-- Link per tornare al login -->
    <p>Hai già un account? <a href="{{ url_for('login') }}">Accedi</a></p>
</div>
{% endblock %}