{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_reset_password.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="{{ url_for('static', filename='script_reset_password.js') }}"></script>
{% endblock %}

{% block content %}
<div class="auth-container">
    <h1>Reimposta la password</h1>
    <form method="POST" class="auth-form">
        <label for="password">Nuova password:</label>
        <input type="password" name="password" placeholder="Inserisci la nuova password" autocomplete="new-password" required>
        <label for="confirm_password">Conferma password:</label>
        <input type="password" name="confirm_password" placeholder="Conferma la nuova password" autocomplete="new-password" required>
        <button type="submit" class="btn">Reimposta password</button>
    </form>
</div>
{% endblock %}